name: Build Test

# On push to main, when one of the following labels exists: `patch`, `minor`, `major`
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'patch') || contains(github.event.pull_request.labels.*.name, 'minor') || contains(github.event.pull_request.labels.*.name, 'major') }}
    name: Build Test
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: 22.x
          cache: "npm"

      - name: Install Dependencies
        run: npm install
      - name: Build Extension
        run: npm run vsce -- ls
